accelerate==0.32.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
beautifulsoup4==4.12.3
blis==0.7.11
boto3==1.34.144
botocore==1.34.144
bpemb==0.3.5
catalogue==2.0.10
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
configobj==5.0.9
configparser==7.1.0
conllu==5.0.1
contourpy==1.1.1
cycler==0.12.1
cymem==2.0.8
deeppavlov==1.7.0
Deprecated==1.2.14
distro==1.9.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
es-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.7.0/es_core_news_lg-3.7.0-py3-none-any.whl#sha256=08020b83e0c6da1584e567551a5e0de7b15dc0534eaaee21acc1ce908d1be742
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl#sha256=0d6d6ebed875869a9759c8c096f2cef581fa32d861646030f771c83e5799de82
etelemetry==0.3.1
exceptiongroup==1.2.2
fastapi==0.89.1
filelock==3.9.1
fitz==0.0.1.dev2
flair==0.13.1
fonttools==4.53.1
frontend==0.0.3
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
gdown==5.2.0
gensim==4.3.2
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.23.5
idna==3.7
importlib_resources==6.4.0
intel-openmp==2021.4.0
isodate==0.6.1
itsdangerous==2.2.0
Janome==0.5.0
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
looseversion==1.3.0
lxml==5.2.2
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
mkl==2021.4.0
more-itertools==10.3.0
mpld3==0.5.10
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.10
networkx==3.1
nibabel==5.2.1
nipype==1.8.6
nltk==3.9.1
numpy==1.23.5
openai==0.28.0
packaging==24.1
pandas==1.5.3
pathlib==1.0.1
phonenumbers==8.13.40
pillow==10.4.0
pptree==3.1
preshed==3.0.9
presidio-analyzer==2.2.354
presidio-anonymizer==2.2.354
prometheus_client==0.20.0
protobuf==3.20.0
prov==2.0.1
psutil==6.0.0
pybind11==2.10.3
pycryptodome==3.20.0
pydantic==1.10.18
pydantic_core==2.20.1
pydot==3.0.2
Pygments==2.18.0
PyMuPDF==1.24.11
pyparsing==3.1.2
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-crf==0.7.2
pytorch_revgrad==0.2.0
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.1
rdflib==6.3.2
regex==2024.5.15
reportlab==4.2.5
requests==2.32.3
requests-file==2.1.0
rich==13.7.1
s3transfer==0.10.2
safetensors==0.4.3
scikit-learn==1.0.2
scipy==1.10.0
seaborn==0.13.2
segtok==1.5.11
semver==3.0.2
sentencepiece==0.2.0
seqeval==1.2.2
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==2.4.8
starlette==0.22.0
sympy==1.13.0
tabulate==0.9.0
tbb==2021.13.0
thinc==8.2.5
threadpoolctl==3.5.0
tldextract==5.1.2
tokenizers==0.20.1
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.64.1
traits==6.3.2
transformer-smaller-training-vocab==0.4.0
transformers==4.46.0
typer==0.12.3
typing_extensions==4.12.2
urllib3==1.26.19
uvicorn==0.18.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Wikipedia-API==0.6.0
wrapt==1.16.0
yarl==1.11.1
zipp==3.19.2
